@import "tailwindcss";
 /* Method 1 : Dark Mode Toggle dark:class */
/* ======================================================================= */
 @plugin "daisyui" {
  themes: dark , light;
 }
 @custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&display=swap');
.inter-main {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.outfit-main {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
}